* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    overflow: hidden;
}

/* main content */

.main {
    /* Beaware: hard coded margin for main content */
    margin-left: 277px;
    /* flex: 0.8; */
    width: 100%;
}

.layout {
    padding: 20px;
}